<ion-view view-title="Inf. Partida">
    <ion-content ng-class="{expanded:$scope.isExpanded}" style="background-color:#f7f7f7;">
        <div class="hero slide-up" style="background-image: url('../img/tenis_esporte.jpg');">
        </div>
        <div class="mid-bar dark-bg z1 padding">
            <h3>Tênis</h3>
            <p>Hoje às 13:00</p>    
        </div>
        <div class="content double-padding" style="margin-top:-45px;">
            <a ui-sref="app.perfil" class=" avatar-small" style="background-image: url('img/felipe_furlanetti.jpg');"></a>
            <a ui-sref="app.perfil" class=" avatar-small" style="background-image: url('img/felipe_furlanetti.jpg');"></a>
            <a ui-sref="app.perfil" class=" avatar-small" style="background-image: url('img/felipe_furlanetti.jpg');"></a>
            <a ui-sref="app.perfil" class=" avatar-small" style="background-image: url('img/felipe_furlanetti.jpg');"></a>

        </div>
        <div #map id="map"></div> 
    </ion-content>
</ion-view>
