<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <h1>QueroJogar</h1>
            </div>
        </div>
        <div class="padding" style="top:80%; position:absolute; width:100%;">
            <button ui-sref="app.partidas" class="button button-full button-border button-positive-900" >Entrar com Facebook</button>
        </div>
    </ion-content>
</ion-view>

<!-- ng-click="facebookSignIn()" -->